.containerClass {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

    .containerClass a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.clothsDropdown, .homeDropdown, .genDropdown, .stationaryDropdown {
    float: left;
    overflow: hidden;
}

    .clothsDropdown .clothsbtn, .stationaryDropdown .statbtn, .genDropdown .genbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: #333;
    }

.homeDropdown .homebtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333;
}

    .containerClass a:hover, .clothsDropdown:hover .clothsbtn, .homeDropdown:hover .homebtn, .stationaryDropdown:hover .statbtn, .genDropdown:hover .genbtn {
        background-color: red;
    }

.clothsDropdown-content, .homeDropdown-content, .stationaryDropdown-content, .genDropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}

    .clothsDropdown-content a, .homeDropdown-content a, .stationaryDropdown-content a, .genDropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.clothsDropdown-content a:hover {
    background-color: #ddd;
}

.clothsDropdown:hover .clothsDropdown-content {
    display: block;
}

.homeDropdown-content a:hover {
    background-color: #ddd;
}

.homeDropdown:hover .homeDropdown-content {
    display: block;
}

.stationaryDropdown-content a:hover {
    background-color: #ddd;
}

.stationaryDropdown:hover .stationaryDropdown-content {
    display: block;
}

.genDropdown-content a:hover {
    background-color: #ddd;
}

.genDropdown:hover .genDropdown-content {
    display: block;
}

.details  {
    list-style: none;
}

ul {
    list-style: none;
    list-style-type:none;
}

.footerTable ul {
    list-style: none;
    list-style-type: none;
}
